*{
    font-family: 'Work Sans', sans-serif;
}
body{
    max-width: 1920px;
}
/* shared style */
.section-gridant{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.section-paragraph{
    color: #534C64;
font-size: 18px;
font-weight: 400;
}
/* nav style */
nav{
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
}
.nav-container{
    display: flex;
    align-items: center;
    margin: 0 240px;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 29px;
    width: 50%;
}

.logo-container img{
    width: 80px;
    object-fit: cover;
}

.logo-content{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.logo-content span{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-items-container{
    width: 50%;
    display: flex;
    list-style: none;
    gap: 32px;
    margin-left: 300px;
    align-items: center;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-items-container a{
    text-decoration: none;

}

.nav-items-container .follow-btn{
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 18px 30px 17px 24px;
}

.fa-brands{
    font-size: 20px;
    padding-right: 5px; 
}

/* Banner Section */
.banner-container{
    display: flex;
    max-width: 1920px;
    max-height: 5927px;
    
}
.banner-text{
    background-image: url('images/Group\ 14.png');
    background-repeat: no-repeat;
    width: 50%; 
    text-align: center;
}

.banner-text p{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 150px;
}

.banner-text h1{
    font-size: 95px;
    font-weight: 800;
    margin-top: -50px;
    margin-bottom: 24px;

}

.banner-images img{
    width: 100%;
}

.heading-list-section li{
    list-style: none;
    text-align: left;
    margin-left: 320px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    gap: 15px;
}


.banner-button button{
    padding: 20px 40px;
    gap: 28px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    margin-top: 42px;
}

.btn-1{
    background-color:  #FF42A5;
}

.btn-2{
    background-color: #4EC5F7;
}
/* Online Games Funny Videos */

.games-content{
    text-align: center;
    margin-bottom: 50px;
}
.games-content p{
    margin-top: -20px;
}

.games-cards{
    display: flex;
    gap: 24px;
    justify-content: center;

}
.card p{
    width: 342px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

/* Play Instantly */

.play-cloumn{
    display: flex;
    align-items: center;
    
}
.play-content{
    width: 50%;
    text-align: right;
    padding: 0 200px;
    
}
.play-content span{
    background: linear-gradient(180deg, #F948B2 100%, #8758F1 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-image {
    width: 50%;
}
.play-image .play-pic{
    margin-left: -150px;
    margin-top: -290px;
    margin-bottom: 120px;
}
/* Responsive style */
@media screen and (max-width:576px) {
    body{
        width: 400px;
    }
    .nav-container{
        flex-direction: column;
        margin: auto;   
    }
    .nav-items-container{
        flex-direction: column;
        margin: 55px auto;  
    }

    .nav-items-container .follow-btn{
        width: 100%;
        padding: 18px 20px 17px 24px;
    }
    /* Banner Section */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-text, .banner-images{
        width: 100%;
    }
    .banner-text p{
        font-size: 35px;
        margin-top: 130px;
    }
    
    .banner-text h1{
        font-size: 75px;
        margin-bottom: 24px;}

    .heading-list-section li{
        margin-left: 52px;
        font-size: 18px;
    }
    .banner-button button{
        padding: 20px auto;
        font-size: 16px;
        margin-top: 42px;
        margin-bottom: 165px;
      
    }
    /* Online Games Funny Videos */
    .games-cards{
        flex-direction: column;
        margin-left: 40px;
    }
    .card P{
        text-align: center;
    }
    /* Play Instantly */
}

@media screen and (min-width:576px)and (max-width:960px){
    .nav-container{
        flex-direction: column;
        margin: auto; 
    }
    .nav-items-container{
        flex-direction: column;
        margin: 55px auto;
    }
    .nav-items-container .follow-btn{
        width: 50%;
        padding: 18px 10px 17px 24px;
        
    }
    /* Banner Section */
    .banner-container{
        flex-direction: column-reverse;

    }
    .banner-text, .banner-images{
        width: 100%;
    }
    .heading-list-section li{
        margin-left: 220px;
        
    }
    .banner-button button{
        padding: 20px 40px;
        font-size: 16px;
        margin-top: 42px;
        margin-bottom: 165px ;
    }
    /* Online Games Funny Videos */
    .games-cards{
        flex-direction: column;
        justify-content: center;
        margin-left: 200px;
    }
    .card P{
        text-align: center;
    }
    /* Play Instantly */
}